<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.shoutbreak"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="8" />

    <!-- // FOR RELEASE ///////////////////////////////////////////// -->
    <!-- android:debuggable = false -->
    <!-- update maps key -->
    <!-- remove below permission -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <!-- //////////////////////////////////////////////////////////// -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- For Crittercism Crash Reporting -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="Shoutbreak" >

        <!-- Launcher -->
        <activity
            android:name=".ui.Shoutbreak"
            android:label="Shoutbreak"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Service -->
        <service
        	android:name=".core.ShoutbreakService"
            android:exported="true" >
            <intent-filter>
                <action android:name="co.shoutbreak.core.ShoutbreakService" />
            </intent-filter>
        </service>

        <!-- Alarm Manager -->
        <receiver android:name=".polling.OnBootAlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <uses-library android:name="com.google.android.maps" />

        <!-- Start of Crittercism.com Code -->
        <activity android:name="com.crittercism.FeedbackActivity" />
        <activity android:name="com.crittercism.FeedbackCreateActivity" />
        <activity android:name="com.crittercism.FeedbackDetailsActivity" />
        <activity android:name="com.crittercism.NotificationActivity" />
        <!-- End of Crittercism.com Code -->

    </application>

</manifest>