<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="co.shoutbreak" android:versionCode="2" android:versionName="2.0">
    <uses-sdk android:minSdkVersion="8" />
    <application android:icon="@drawable/icon" android:label="Shoutbreak" android:debuggable="true">
		
		<!-- Launcher -->
        <activity android:name=".ui.SBContext" android:label="Shoutbreak" android:screenOrientation="portrait" android:launchMode="singleTop" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Service -->
        <service android:name=".service.ShoutbreakService" android:exported="true">
			<intent-filter>
				<action android:name="co.shoutbreak.service.ShoutbreakService" />
			</intent-filter>
		</service>
		
		<!--  Alarm Manager -->
		<receiver android:name=".service.AlarmReceiver" android:exported="true">
			<intent-filter>
				<action android:name="co.shoutbreak.service.AlarmReceiver" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
			</intent-filter>
		</receiver>
		
		<uses-library android:name="com.google.android.maps" />
		
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_GPS" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>